@model IlkeHukukBurosu.DAL.Entities.Service
@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<br />
<div class="container">
    <form method="post">
        <label>Hizmet Başlığı</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>Hizmet İçeriği</label>
        <input type="text" asp-for="Info" class="form-control" />
        <br />
        <label>Hizmet Fotoğraf</label>
        <input type="text" asp-for="ImgUrl" class="form-control" />
        <br />
        <button class="btn btn-primary">Hizmet Ekle</button>
    </form>
</div>



